{% extends "admin/base_site.html" %}
{% block content %}
<nav>
    {% for crumb in breadcrumb %}
        {% if forloop.first %}
            <a href="{{ crumb.path }}">{{ crumb.name }}</a> /
        {% elif not forloop.last %}
            <a href="?path={{ crumb.path }}">{{ crumb.name }}</a> /
        {% else %}
            {{ crumb.name }}
        {% endif %}
    {% endfor %}
</nav>

{% if rows %}
    <table>
        <thead>
            <tr>
                {% for column_name in column_names %}
                    <th>{{ column_name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                {% for value in row %}
                    {% if forloop.counter == column_names|length and value %}
                        <td><button type="button" class="button" onclick="toggleTraceback(this)">Show Traceback</button></td>
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% if row|last %}
            <tr class="traceback-row" style="display:none;">
                <td colspan="{{ column_names|length }}">
                    <pre class="traceback-content" style="max-height: 0;">{{ row|last }}</pre> <!-- `max-height` is set inline, so it can be read in the script tag -->
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <pre>{{ content }}</pre>
{% endif %}

<style>
.button {
    padding: 4px 8px;
    font-size: 0.85rem;
}

.traceback-content {
    overflow: hidden;
    overflow-x: auto;
    transition: max-height 0.2s ease;
}

</style>

<script>
function toggleTraceback(button) {
    const tr = button.closest("tr");
    const tracebackRow = tr.nextElementSibling;
    const preTag = tracebackRow.querySelector(".traceback-content");

    if (preTag.style.maxHeight && preTag.style.maxHeight !== "0px") {
        setTimeout(() => tracebackRow.style.display = "none", 200);
        preTag.style.maxHeight = "0";
    } else {
        tracebackRow.style.display = "table-row";
        preTag.style.maxHeight = preTag.scrollHeight + "px";
    }
}
</script>
{% endblock %}
